<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
    <add key="DTNL-Dotnet-Feed" value="https://pkgs.dev.azure.com/dept/_packaging/DTNL-Dotnet-Feed%40Local/nuget/v3/index.json" />
    <!-- Local copy of packages downloaded from the Azure Artifacts feed -->
    <add key="DTNL-Dotnet-Feed-Local" value="./azure-artifacts/DTNL-Dotnet-Feed" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="NuGet.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="DTNL-Dotnet-Feed">
      <package pattern="DEPT.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
